
@{
    ViewBag.Title = "AuthenticationPage";
}
<body background="~/Images/login.png">
</body>
<div class="jumbotron">
    <h1> CRUD Operation is Successful</h1>
</div>

<div>
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-sm btn-danger m1-1" })
</div>
<div>
    @Html.ActionLink("Back to Employee", "Index", "Employee", null, new { @class = "btn btn-sm btn-danger m1-1" })
</div>
<div>
    @Html.ActionLink("Back to Appointment", "Index", "Appointment", null, new { @class = "btn btn-sm btn-danger m1-1" })
</div>
<div>
    @Html.ActionLink("Back to Room", "Index", "Room", null, new { @class = "btn btn-sm btn-danger m1-1" })
</div>
<div>
    @Html.ActionLink("Back to Clinic", "Index", "Clinic", null, new { @class = "btn btn-sm btn-danger m1-1" })
</div>
<div>
    @Html.ActionLink("Back to Prescription", "Index", "Prescription", null, new { @class = "btn btn-sm btn-danger m1-1" })
</div>