@model IEnumerable<Hastane.Models.LaboratoryModel>

@{
    ViewBag.Title = "Index";
}

<h2></h2>
<body background="~/Images/laboratory.jpg">
</body>
<p>
    @Html.ActionLink("Add new Laboratory", "Create","Laboratory", null, new { @class = "btn btn-sm btn-success m5-1" })
</p>

<table class="jumbotron " border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supervisor_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
